{
  "openapi": "3.0.3",
  "info": {
    "title": "JobToo Public API",
    "version": "1.0.0",
    "description": "Открытые вакансии JobToo: смены на день и постоянные позиции в Москве. Персональных данных в выдаче нет. Ключ выдаётся по договорённости; частота — 1000 запросов в час на ключ по умолчанию."
  },
  "servers": [
    {
      "url": "https://jobtoo.ru/api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Ключ партнёра: Authorization: Bearer <ключ>"
      }
    },
    "schemas": {
      "Vacancy": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "shift_a1b2c3"
          },
          "type": {
            "type": "string",
            "enum": [
              "shift",
              "permanent"
            ]
          },
          "title": {
            "type": "string",
            "example": "Кладовщик"
          },
          "company": {
            "type": "string",
            "example": "Сеть магазинов «Пятёрочка»"
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "category_label": {
            "type": "string",
            "nullable": true
          },
          "metro": {
            "type": "string",
            "nullable": true,
            "example": "Сухаревская"
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "location": {
            "type": "object",
            "nullable": true,
            "properties": {
              "lat": {
                "type": "number"
              },
              "lon": {
                "type": "number"
              }
            }
          },
          "date": {
            "type": "string",
            "nullable": true,
            "example": "2026-08-20"
          },
          "time_start": {
            "type": "string",
            "nullable": true,
            "example": "07:00"
          },
          "time_end": {
            "type": "string",
            "nullable": true,
            "example": "16:30"
          },
          "pay": {
            "type": "number",
            "nullable": true,
            "example": 3000
          },
          "currency": {
            "type": "string",
            "example": "RUB"
          },
          "pay_period": {
            "type": "string",
            "enum": [
              "shift",
              "month"
            ]
          },
          "spots_total": {
            "type": "integer"
          },
          "spots_left": {
            "type": "integer"
          },
          "urgent": {
            "type": "boolean"
          },
          "no_experience": {
            "type": "boolean"
          },
          "schedule": {
            "type": "string",
            "nullable": true,
            "description": "Только для type=permanent"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "conditions": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "example": "open"
          },
          "url": {
            "type": "string",
            "description": "Страница вакансии на сайте JobToo"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "bad_key"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Проверка доступности",
        "security": [],
        "responses": {
          "200": {
            "description": "Сервис отвечает"
          }
        }
      }
    },
    "/vacancies": {
      "get": {
        "summary": "Открытые вакансии",
        "description": "Отдаёт открытые смены и постоянные вакансии, новые первыми. Для догрузки используйте updated_since — так не придётся тянуть весь список каждый раз.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "shift",
                "permanent"
              ],
              "default": "all"
            }
          },
          {
            "name": "metro",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Точное название станции; список — в /metro"
          },
          {
            "name": "updated_since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список вакансий",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Vacancy"
                      }
                    },
                    "count": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ключ не передан или отозван",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "У ключа нет нужного права",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Превышена частота запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/metro": {
      "get": {
        "summary": "Станции, по которым есть открытые вакансии",
        "responses": {
          "200": {
            "description": "Справочник станций",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "open_vacancies": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
